body {
    font-family: sans-serif;
}
body {
    background-color: #E8FAF3;
    font-family: Tahoma ;
}
.places {
	color: white;
	text-shadow: 0 0 5px #377BBA;
	background-image: linear-gradient(to bottom right, #E1F6E7, #CEE5EF);
	margin-top: 30px;
	margin-left: 15px;
	padding: 5px;
	width: 100%;
    font-size: 22px;
}
.japan h2 {
	color: white;
	text-shadow: 0 0 5px #377BBA;
	margin-left: 25px;
	width: 100%;
  font-size: 27px;
}
.japan .slider {
  position: relative;
  width: 680px;
  margin: 25px;
  box-shadow: 0 0px 4px 0px #39AE5A;
  border-radius: 10px;
  transition: 0.3s;
}
.japan .slider:hover {
	box-shadow: 0 0px 4px 0px #7BB5EA;
}

.japan .slider input[name="switch"] {
  display: none;
}

.japan .switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.japan .switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 7.5px 0 #7BB5EA;
  border-radius: 50%;
  border: 5px solid #96CCFE;
  background-color: #96CCFE;
  transition: 0.3s;
}

.japan #btn1:checked~.switch label[for="btn1"] {
  background-color: #96CCFE;
  transition: 0.3s;
}

.japan #btn2:checked~.switch label[for="btn2"] {
  background-color: #96CCFE;
  transition: 0.3s;
}

.japan #btn3:checked~.switch label[for="btn3"] {
  background-color: #96CCFE;
  transition: 0.3s;
}

.japan .slider-inner {
  overflow: hidden;
}

.japan .slides {
  width: 300%;
  transition: all 0.5s;
}

.japan .slides img {
  width: 680px;
  height: 340px;
  float: left;
  border-radius: 10px;
}

.japan #btn1:checked~slider-inner slides {
  transform: translate(0);
}

.japan #btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

.japan #btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
.japan #btn1:checked~.switch label[for="btn1"]:hover {
  background-color: #94e4a9;
}
.japan #btn2:checked~.switch label[for="btn2"]:hover {
  background-color: #94e4a9;
}
.japan #btn3:checked~.switch label[for="btn3"]:hover {
  background-color: #94e4a9;
}
.japan .switch label:hover {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 7.5px 0 #7bea81;
  border-radius: 50%;
  border: 5px solid #94e4a9;
  background-color: #94e4a9;
}
.japan p {
	color: #8EB4FE;
	text-shadow: 0 0 7px #A2FFC7;
	margin-left: 25px;
	width: 725px;
  margin-top: 50px;
}
.japan iframe {
  margin-left: 8.5px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #7BB5EA;
}
.japan iframe:hover {
  margin-left: 8.5px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #39AE5A;
}

.costarica .slider {
  position: relative;
  width: 680px;
  margin: 25px;
  box-shadow: 0 0px 4px 0px #39AE5A;
  border-radius: 10px;
  transition: 0.3s;
}
.costarica .slider:hover {
	box-shadow: 0 0px 4px 0px #7BB5EA;
}

.costarica .slider input[name="switch"] {
  display: none;
}

.costarica .switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.costarica .switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 7.5px 0 #7BB5EA;
  border-radius: 50%;
  border: 5px solid #96CCFE;
  background-color: #96CCFE;
  transition: 0.3s;
}

.costarica #btn4:checked~.switch label[for="btn1"] {
  background-color: #96CCFE;
  transition: 0.3s;
}

.costarica #btn5:checked~.switch label[for="btn2"] {
  background-color: #96CCFE;
  transition: 0.3s;
}

.costarica #btn6:checked~.switch label[for="btn3"] {
  background-color: #96CCFE;
  transition: 0.3s;
}

.costarica .slider-inner {
  overflow: hidden;
}

.costarica .slides {
  width: 300%;
  transition: all 0.5s;
}

.costarica .slides img {
  width: 680px;
  height: 340px;
  float: left;
  border-radius: 10px;
}

.costarica #btn4:checked~slider-inner slides {
  transform: translate(0);
}

.costarica #btn5:checked~.slider-inner .slides {
  transform: translate(-680px);
}
.costarica #btn6:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
.costarica #btn4:checked~.switch label[for="btn4"]:hover {
  background-color: #94e4a9;
}
.costarica #btn5:checked~.switch label[for="btn5"]:hover {
  background-color: #94e4a9;
}
.costarica #btn6:checked~.switch label[for="btn6"]:hover {
  background-color: #94e4a9;
}
.costarica .switch label:hover {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 7.5px 0 #7bea81;
  border-radius: 50%;
  border: 5px solid #94e4a9;
  background-color: #94e4a9;
}
.costarica p {
	color: #8EB4FE;
	text-shadow: 0 0 7px #A2FFC7;
	margin-left: 25px;
  margin-top: 50px;
}
.costarica iframe {
  margin-left: 8.5px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #7BB5EA;
}
.costarica iframe:hover {
  margin-left: 8.5px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #39AE5A;
}
.costarica h2 {
	color: white;
	text-shadow: 0 0 5px #377BBA;
	margin-left: 25px;
	width: 100%;
  font-size: 27px;
}
.links h2 {
	position: relative;
	color: #89dca5;
	text-shadow: 0 0 5px #c7eeff;
	font-size: 22.5px;
	margin-bottom: 8px;
	top: 7.5px;
}
.links a {
	position: relative;
	color: #89dca5;
	text-shadow: 0 0 2.5px #c7eeff;
	font-size: 15px;
	text-decoration: none;
	margin: 5px;
	top: 12.5px;
  transition: 0.3s;
}
.links img {
	height: 53px;
	width: 53px;
	border-radius: 7.5px;
	box-shadow: 0 0 8.2px #82C294;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
  transition: 0.3s;
}
.links a:hover {
	color: #89addc;
	text-shadow: 0 0 2.5px #c7ffce;
}
.links img:hover {
	box-shadow: 0 0 8.2px #82a8c2;
}
.links {
	background-color: white;
	height: 250px;
	width: 165px;
	text-align: center;
	border-radius: 7.5px;
	box-shadow: 0 0 8.2px #c2f5d1;
	position: fixed;
	right: 5px;
	top: 200px;
}
footer img:hover {
	box-shadow: 0 0 5px #37ba53;
}
footer img {
	height: 70px;
	width: 70px;
	border-radius: 7.5px;
	box-shadow: 0 0 5px #377BBA;
	transition: 0.3s;
}
footer {
	background-image: linear-gradient(to bottom right, #C6F2D2, #7BB5EA);
	margin: 15px;
	width: 100%;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 22.5px;
}
footer p {
	color: white;
	text-shadow: 0 0 4px #377BBA;
	margin-left: 10px;
	margin-top: 25px;
}
.footersocials {
	display: flex;
}
.footerinfo {
	display: flex;
}
.insta {
	margin-right: 45px;
}
.telephone {
	margin-right: 89px;
}
.bydlogo {
  text-align: center;
	position: absolute;
	font-size: 36px;
  top: 2085px;
	right: 205px;
  color: white;
  opacity: 37%;
}
nav {
  border-top: 5px double #a6cadb;
  border-bottom: 5px double #a6cadb;
  padding: 25px 100px 25px 95px;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  font-size: 24px;
  text-decoration: none;
  display: block;
  color: #8EB4FE;
	text-shadow: 0 0 7px #A2FFC7;
  transition: 0.3s;
  border: 5px double white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 5px 0 #8EB4FE;
  border-radius: 10px;
}
.nav-link:hover {
  color: white;
	text-shadow: 0 0 7px #8EB4FE;
  background-color: #96CCFE;
  box-shadow: 0 0 5px 0 #A2FFC7;
  border: 5px double #A2FFC7;
}
